<header class="app-header">
    <section>
        <nav>
            <a href="/registerrole" style="margin: 0px;">Cadastrar Novo Cargo</a>
            <a href="/viewroles">Visualizar Cargos</a>
        </nav>
    </section>
    <section>
        <nav>
            <a href="/">Visualizar Relatorio</a>
        </nav>
    </section>
    <section>
        <nav>
            <a href="/registeremployee">Cadastrar Funcionario</a>
            <a href="/seeemployees">Visualizar Funcionarios</a>
        </nav>
    </section>
</header>